<!doctype html5>
<html>
  <head>
    <script src="<%= output.filename %>"></script>
  </head>
  <body>
    <section>
      <p>This webpack-dev-server configurated by <a href="http://github.com/dronjs/dron-webpack-init">dron-webpack-init</a></p>

      <h3>devDependencies:</h3>
      <ul>
        <% for(var i=0; i<devDependencies.length; i++) { %>
          <li><%= devDependencies[i] %></li>
        <% } %>
      </ul>
    <section>
    <section>
      <h3>dependencies:</h3>
      <ul>
        <% for(var i=0; i<dependencies.length; i++) { %>
          <li><%= dependencies[i] %></li>
        <% } %>
      </ul>
    <section>
  </body>
  <script>

  </script>
</html>
